asgiref
audioop-lts
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
comtypes
Django
django-cors-headers
djangorestframework
dnspython
dotenv
Flask
flask-cors
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
pyFirmata2
pymongo
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQt5Designer
pyserial
python-dotenv
pyttsx3
pywin32
requests
soupsieve
SpeechRecognition
sqlparse
standard-aifc
standard-chunk
typing_extensions
tzdata
urllib3
Werkzeug
wikipedia


